<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
   <div class="first">
  <img class="kytara1" src="/images/kytara_pruhledna.png" alt=Kytara>
</div> 
<div class="second">
<header>
<div class="header">
<div class="names">
  <h1>Kytarové kurzy</h1>
<h2>Radka Mikušková</h2>
</div>
<div class="contact">
<p> 732 811 744 <br>
E-mail: <a href="mailto:radka.sunny@gmail.com">radka.sunny@gmail.com</a><br></p>
</div>
</div>
</header>
<ul class="menu">
<li><a href="/">Úvod </a> </li>
<li><a href="/zpevnik/">Zpěvník </a> </li>
<li><a href="/cenik/">Ceník </a> </li>
<li><a href="/videa/">Videa </a> </li>
<li><a href="/kontakt/">Kontakt </a> </li> 
</ul>

{{content | safe}}

<footer>
© 2023, Radka Mikušková
</footer> 
</div> 
<div class="third">
<img class="kytara2" src="/images/kytara_pruhledna2.png" alt=Kytara>
</div>
</div>
</body>
</html>
